<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>item-banana.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{0,0},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{324,0},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-grape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{648,0},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-lemon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{0,270},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{324,270},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-scatter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{648,270},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-watermelon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{0,540},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item-wild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,270}</string>
                <key>spriteSourceSize</key>
                <string>{324,270}</string>
                <key>textureRect</key>
                <string>{{324,540},{324,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>items.png</string>
            <key>size</key>
            <string>{972,810}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9577788a33569b62c3b04a835ae3225:a313583693d09847895d2e8c1e79ef75:9b2c40378ce3448cae3ca053079d3001$</string>
            <key>textureFileName</key>
            <string>items.png</string>
        </dict>
    </dict>
</plist>
